
.div-apresentacao{
  color: white;
  padding: 0 20px;
}
.div-apresentacao h1{
  font-size: 40px;
  line-height: 35px;
}
.div-apresentacao h2{
  font-weight: 400;
  line-height: 25px;
  
}
.ul-redes-sociais{
  width: 180px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.ul-redes-sociais li{
  width: 35px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.ul-redes-sociais li:hover{
  transform: scale(1.1);
}
.ul-redes-sociais li a{
  text-decoration: none;
}
.ul-redes-sociais li span {
  opacity: 0%; 
  position: relative;
  top: 6px;
  right: 5px;
  width: max-content;
  height: 15px;
  line-height: 5px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  color: rgb(21, 28, 31);
  background: rgb(179, 179, 179);
  border: 4px solid rgb(179, 179, 179);
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
}
.ul-redes-sociais li span:hover{
  opacity: 100%;
  display: unset;
}
span:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgb(179, 179, 179) transparent;
  top: -23px;
  left: 5px;
}
