.conhecimentos{
  max-height: max-content;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.conhecimento-div{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.div-conhecimentos{
  width: 20vw;
  border: solid 2px rgba(0, 0, 0, 0.685);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
.logoC{ 
  position: relative;
  animation: float 2s infinite ease-out;
}
.logoC img{
  width: 70px;
  height: 70px;
}
@keyframes float {
  0%{ bottom: 18px;}
  50%{ bottom: 25px;}
  100%{ bottom: 18px;}
}
.conteudo{
  height: 90px;
  width: 100%;
  padding: 0px 8px 8px 25px;
}
.conteudo ul li{
  list-style: circle;
}