.nav-area-total{
  background-color: #14233a;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  z-index: 10000000;
  box-shadow: 1px 1px 3px  #3b4557;
}
.div-menu ul{
  display: flex;
  height: 80px;
  align-items: center;
  /* margin-left: 30px; */
}

.BsCodeSlash{
  margin: 0 5px;
  color: rgb(56, 170, 81) ;
}

.div-sobre-li{
  width: max-content;
  margin: 0 15px;
}
.div-sobre-li li{
  color: white;
  font-size: 23px;
  cursor: pointer;
  transition: 1s ease-in;
}
.div-sobre-li li:hover{
  border-bottom: solid 1px rgb(56, 170, 81);  
}