.nav-area-total{
  background-color: #062555;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  z-index: 10000;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.479);
}
.div-menu ul{
  display: flex;
  height: 80px;
  align-items: center;
}

.BsCodeSlash{
  margin: 0 5px;
}

.div-sobre-li{
  width: max-content;
  margin: 0 15px;
}
.div-sobre-li li{
  color: white;
  font-size: 23px;
  cursor: pointer;
  transition: 1s ease-in;
}
.div-sobre-li li:hover{
  border-bottom: solid 1px rgb(56, 170, 81);  
}