.secao-certificados{
  /* background-color: rgb(68, 68, 155); */
  height: 400px;
  width: 100%;
}
.carousel-slider{
  left: 25%;
}
.carousel .thumbs {
  display: flex;
  justify-content: center;
}
.div-certificados-renderizando{
  /* background-color: rgb(54, 105, 105); */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.certificado{
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 80px;
}
.titulo-certificado{
  text-align: center;
  width: 430px;
}