.div-botao-whats{
  position: fixed;
  height: 250px;
  width: 350px;
  right: 2%;
  bottom: 15%;
  z-index: 10000000000;
  
}
.botao-whats{
  position: fixed;
  right: 3%;
  bottom: 4%;
  color: rgb(43, 180, 72);
  cursor: pointer;
  transition: all 0.5s ;
}
.botao-whats:hover{
  width: 55px;
  height: 55px;
}
/* --------------------------modal whats------------------ */
.modal-esconder-whats{
  display: none;
}
.aparecer-modal-whats{
  background-image: url("../../images/fundo-whats.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 350px;
  display: block;
  border: solid 1px black ;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.541);
  border-radius: 10px;
}

.cabeçalho-modal-whats{
  background-color: #008069 ;
  width: 100;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 10px 10px 0px 0px;
}
.foto-perfil-modal-whats{
  width: 50px;
  border-radius: 50%;
  transition: 1s ease-in-out;
}
.div-nome-e-status{
  height: 60px;
  color: rgb(255, 255, 255);
  margin-left: 15px;
}
.biArrowBack{
  color: white;
  font-size: 25px;
  cursor: pointer;
  margin-right: 3px;
}
.titulo-nome-modal{ 
  font-weight: 500;
}
.paragrafo-status{
  line-height: 1;
  font-weight: 300;
}
/* ----------------------------esconder/mostrar paragrafo------------------------- */
.div-contem-paragrafos{
  height: 130px;
  overflow: hidden;
  overflow-y: scroll;
}

.div-contem-paragrafos::-webkit-scrollbar{
  width: 1px;
  color: black;
}
.div-contem-paragrafos-child{
  position: relative;
  height: max-content;
  padding: 8px;
}
.testando{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.aparece-paragrafo, .aparece-paragrafo-segundo, .aparece-paragrafo-terceiro {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 250px;
  height: max-content;
  padding-left:10px;
  font-size: 14px;
  text-align: center;
  color: rgb(255, 255, 255);
  background: #1f2c34d3;
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
  margin-bottom: 8px;
}
.esconder-paragrafo{
  display: none;
}

.aparece-paragrafo-segundo p, .aparece-paragrafo p{
  word-wrap: break-word;
}
.mensagem-visitante{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 250px;
  height: max-content;
  padding: 2px 10px;
  font-size: 14px;
  text-align: center;
  color: rgb(255, 255, 255);
  background: #008069b6;
  /* border: 4px solid rgb(255, 255, 255); */
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
  margin-bottom: 8px;  
  position: relative;
  overflow: hidden;
}
.paragrafo-mensagem-visitante{
  word-wrap: break-word;
}
.div-engloba-mensagens-visitantes{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* .hora-mensagem{
  font-size: 10px;
  position: relative;
  top: 5px;
  left: 5px;
  font-weight: 400;
  padding: 3px 0;
} */
.div-hora-minuto{
  /* background-color: red; */
  width: max-content;
  padding: 0 4px;
  height: 100%;
  font-size: 9px;
  display: flex;
  align-items: flex-end;
  position: relative;
  bottom: 0;
}
/* ------------------------ INPUT------------------------------------------ */
.div-input-modal-whats{
  position: absolute;
  bottom: 1px;
  left: 2px;
  z-index: 100;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px ;
  width: 340px;
}
.div-input-modal-whats-child{
  background-color: rgb(245, 245, 245);
  width: 280px;
  height: max-content;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2px 0px;
}
.input-modal{
  background-color: rgb(245, 245, 245);
  border: none;
  width: 170px;
  height: max-content;
  padding-bottom: 4px;
  padding-top: 3px;
  resize: none;
  line-height: 2;
}
.input-modal::-webkit-scrollbar{
  width: 0.1px;
}

.input-modal:focus {
  background-color: #ffffff;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 
.botao-gravar-enviar-mensagem{
  background-color: #008069;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.input-vazio{
  background-color: grey;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
}
.FiPaperclip{
  transform : rotate(260deg);
}
